.sidebar{
    width: 20%;
    position: fixed;
    left: 0;
    top: 101px;
    height: 90%;
    background: #222A37;
    z-index: 9;
    transition: all .50s ease;
    border-right: 1px solid #5e5e5e;
}
.item-sidebar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.user{
    display: flex;
    color: #fff;
}
.product{
    display: flex;
    color: #fff;
}
.logout{
    display: flex;
    color: #fff;
}